body{
    overflow-y: hidden;
}

.coursePath{
    color: #2D3179;
}

.coursesChild{
    font-size: 1rem;
    color: #8F95B2;
    letter-spacing: 2px;
    margin-left: 2rem;
    padding-top: 0.5rem;
   
}

.cbseSection{
    margin-top:1rem ;
    height: 30vh;
    width: 100vw;
    /* border: 1px solid red; */
}

.cbse{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    color: #2D3179;
    letter-spacing: 2px;
    margin-left: 2rem;
}

.wrapper{
    min-width: 100vw;
    max-height: 25vh;
    display: flex;
    margin-left: 2rem;
}

.wrapper .item{
    min-width: 15vw;
    height: 23vh;
    line-height: 23vh;
    text-align: center;
    background-color: aquamarine;
    margin-right: 2rem;
    background: #D6D0FF;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 16px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #2D3179;
}

.icseSection{
    margin-top: 2rem;
}