.subjectColumn{
    margin-top: 1.5rem;
    /* border: 1px solid red; */
    max-width: 72vw;
    margin-left: 2rem;
    display: flex;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.subjectColumn .item{
    width: 17vw;
    padding: 1vw;
    margin: 1vh;
    background: #FAFBFF;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 16px;
    color: #2D3179;
}

.chaptername{
 
    margin-left: 0.8rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 20px;
    color: #2D3179;
    margin-bottom: 10px;
}

.subjectbgImg1{
    height: 17vh;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/images/subimg1.svg');
}

.chapterNameMargin{
    margin-bottom:0.5rem ;
}