.subjectColumn{
    margin-top: 1.5rem;
    /* border: 1px solid red; */
    max-width: 72vw;
    margin-left: 2rem;
    display: flex;
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: auto auto auto;
}

.notForMobile{
    display: none;
    width: 80%;
    margin: auto;
    overflow: hidden;
  }

.subjectColumn .item{
    width: 17vw;
    padding: 1vw;
    background: #e7eafc;
    box-shadow: 0px 8px 16px rgba(143, 149, 178, 0.15);
    border-radius: 16px;
    color: #2D3179;
    margin-left: 10vh;
    margin-bottom: 10vh;
}

.chaptername{
 
    margin-left: 0.8rem;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 20px;
    color: #2D3179;
    margin-bottom: 10px;
}

.subjectbgImg1{
    height: 17vh;
    width: 90%;
    margin: auto;
    border-radius: 8px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.chapterNameMargin{
    margin-bottom:0.5rem ;
}

@media only screen and (max-width: 700px) {
    .notForMobile{
        display: block;
        visibility: visible;
      }
      .warning{
        font-size: 5vw;
        font-weight: 500;
        text-align: center;
      }

    body{
        visibility: hidden;
    }
}
